
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffff;
    background-color: black;
    margin: 0;
    padding: 0;
}

.Hamburger {

    float:right;
}

.menu {
  position: relative;
  text-align: right;
  float:right;
  display:inline;
}

.ImageContainer{
position: fixed;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);
  height:300px;
  width:700px;
}

.NameLeftCorner {
    top: 0px;
    left: 0px;
    float: left;
    margin: 50px auto;
}
