
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffff;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container{
  background-color:red;
  width:400px;
  height:300px;

  
}

.Hamburger {

    float:right;
}

.NameLeftCorner {
    top: 0px;
    left: 0px;
    float: left;
    margin: 50px auto;
}

.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
