
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffff;
    background-color: black;
    margin: 0;
    padding: 0;
}

.Hamburger {
 
    float:right;
}

.NameLeftCorner {
    top: 0px;
    left: 0px;
    float: left;
    margin: 50px auto;
}